@font-face {
    font-family: 'Proxima Nova Black';
    src: url('proxima_nova/proxima_nova_black-webfont.woff2') format('woff2'),
         url('proxima_nova/proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima Nova';
    src: url('proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Proxima Nova Semi Bold';
    src: url('proxima_nova/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('proxima_nova/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
