<template>
	<div class="contact-modal modal" v-show="contactModal" @load="console.log('modal load')">
		<div class="border"></div>
		<a href="" class="close-modal button" @click.prevent="contactModal = false">X</a>
		<div class="center-box project-container">
			<div class="profile-avatar img-box">
				<img src="../assets/contact-avatar.jpg" alt="">
			</div>
			<form action="">
				<span class="step step-1" v-show="contactStep == 1 || contactStep == 2 || contactStep == 3"  :class="{'isActive' : contactStep == 1}">
					<p>Gostariamos de ajudar, mas antes, como você se chama?</p>
					<input class="contact-modal-first-input" type="text" autocomplete="off" id="first-input" v-model="modalContactName" @keyup.prevent.enter="contactStepChange">
				</span>
				<span class="step step-2" v-show="contactStep == 2 || contactStep == 3"  :class="{'isActive' : contactStep == 2}">
					<p>Olá, {{ modalContactName }}. Agora que ja nos conhecemos um pouco melhor, em que podemos ajuda-lo?</p>
					<textarea class="contact-modal-second-input" type="text" autocomplete="off" id="second-input" v-model="modalContactMessage" @keyup.prevent.enter="contactStepChange"></textarea>
				</span>
				<span class="step step-3" v-show="contactStep == 3"  :class="{'isActive' : contactStep == 3}">
					<p>Qual seria o melhor e-mail para que possamos responder?</p>
					<input class="contact-modal-third-input" type="email" id="third-input" v-model="modalContactEmail" @keyup.prevent.enter="contactStepChange" autocomplete="off">
				</span>
				<span class="step step-4" v-show="contactStep == 4"  :class="{'isActive' : contactStep == 4}">
					<p>Obrigado pelo contato. Retornaremos o mais breve possível. </p>
					<div class="instruction success" v-show="contactStep == 4">
					<span><a href="" class="" @click.prevent="contactModal = false"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar para página inicial</a></span>
				</div>
				</span>
				<div class="instruction" v-show="contactStep == 1 || contactStep == 2 || contactStep == 3">
					<span>pressione</span> <span class="enter"><i class="fa fa-level-down" aria-hidden="true"></i> Enter</span>
				</div>
			</form>
		</div>
	</div>
</template>

<script>

import { bus } from '../main';

export default {
	name: 'ContactComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de contato',
			contactModal: false,
			modalContactName: '',
			modalContactMessage: '',
			modalContactEmail: '',
			contactStep: 1
		}
	},
	mounted(){
		var tx = document.getElementsByTagName('textarea');
		for (var i = 0; i < tx.length; i++) {
		  tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
		  tx[i].addEventListener("input", OnInput, false);
		}

		function OnInput() {
		  this.style.height = 'auto';
		  this.style.height = (this.scrollHeight) + 'px';
		}
	},
	created(){
		bus.$on('contactModalStateChange', (data) => {
			this.modalIsActive = data;
			if (this.contactStep == 4) {
				this.contactStep =  1;	
			}
		})
	},
	computed: {
		modalIsActive: {
			get() {
				return this.contactModal;
			},
			set(value) {
				this.contactModal = value;
			}
		},
		modalStateCheck() {
			var input = document.querySelectorAll('.contact-modal form .contact-modal-first-input');
			if(this.modalIsActive){
				setTimeout(function(){
					input[0].focus();
					console.log(input[0]);
				}, 20);
			}
		},
		contactStepCheck() {
			if(this.modalIsActive){
				if(this.contactStep == 1){
					var input = document.querySelectorAll('.contact-modal form .contact-modal-first-input');
					setTimeout(function(){
						input[0].focus();
						console.log(input[0]);
					}, 20);
				}else if(this.contactStep == 2){
					setTimeout(function(){
						var input = document.querySelectorAll('.contact-modal form .contact-modal-second-input');
						input[0].focus();
						console.log(input[0]);
					}, 20);
				}else if(this.contactStep == 3){
					setTimeout(function(){
						var input = document.querySelectorAll('.contact-modal form .contact-modal-third-input');
						input[0].focus();
						console.log(input[0]);
					}, 20);
				}
			}
		}
	},
	watch: {
		modalStateCheck() {},
		contactStepCheck() {}
	},
	methods: {
		openContactModal(){
			this.modalIsActive = true;
			if (this.contactStep == 4) {
				this.contactStep =  1;	
			}
		},
		contactStepChange(){
			this.contactStep = this.contactStep + 1;
			console.log(this.contactStepCheck);
			console.log(this.contactStep);
		}
	}
}
</script>

<style lang="stylus">
@import '~stylus_var'
.contact-modal
	background url('../assets/contact-modal-bg.jpg') no-repeat center
	background-size cover
	.instruction.success
		opacity 1
		a
			color $blue
	.project-container
		width 80%
		margin 0 auto
		max-width 680px
		padding-bottom 260px
	.close-modal
		right 30px
		top 30px
	.border
		border-color $blue
	.step-4
		position relative
		top -80px
	form
		position absolute
		bottom 0
		z-index 1
		.instruction
			text-transform uppercase
			opacity .3
			&.success
				margin-top 20px
		.enter
			display inline-block
			border 2px solid black
			border-radius 5px
			padding 10px 40px
			margin-left 20px
			i
				transform rotate(90deg)
				margin-right 5px
				position relative
				top 2px
		.step
			display block
			opacity .5
			margin-bottom 20px
			&.isActive
				opacity 1
				p
					color black
		p
			font-size 32px
			color white
			&.past
				color #999
		input, textarea
			padding 20px
			font-size 24px
			background transparent
			border 0
			text-align center
			box-sizing border-box
			outline none
			color $blue
			min-height 115px
		textarea
			width 100%
			line-height 1.5
	.profile-avatar
		border-radius 50%
		border 7px solid white
		z-index 2
		margin-bottom 50px
@media only screen and (max-width : 540px)
	.contact-modal
		form
			p
				font-size 18px
</style>
