<template>
	<div class="default-component">
		<h1>{{msg}}</h1>
	</div>
</template>

<script>
export default {
	name: 'DefaultComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão'
		}
	}
}
</script>

<style lang="stylus">

</style>
