<template>
	<v-touch @swipedown.prevent="toggleMenu()">
		<div id="header" v-bind:class="[{ 'active': menuIsActive, 'is-active': menuMobileIsActive }, vClass]">
			<router-link to="/home" @click.native="scroll(0)" class="logo"></router-link>
			<ul v-bind:class="{ 'is-active': menuMobileIsActive }" v-if="thisPage == 'home'" class="na-home">
				<v-touch @swipeup.prevent="toggleMenu()">
					<li><a href="" @click.prevent="scroll(0)" class="is-active">Início</a></li>
					<li><a href="" @click.prevent="scroll(1)">Portfólio</a></li>
					<li><a href="" @click.prevent="scroll(2)">O que Fazemos</a></li>
					<li><a href="" @click.prevent="scroll(3)">Sites Rápidos</a></li>
					<li><a href="" @click.prevent="scroll(4)">Contato</a></li>
				</v-touch>
			</ul>
			<ul v-bind:class="{ 'is-active': menuMobileIsActive }" v-else class="fora-da-home">
				<v-touch @swipeup.prevent="toggleMenu()">
					<li><router-link to="/home" @click.native="scroll(0)" class="is-active">Início</router-link></li>
					<li><router-link to="/home" @click.native="scroll(1)">Portfólio</router-link></li>
					<li><router-link to="/home" @click.native="scroll(2)">O que Fazemos</router-link></li>
					<li><router-link to="/home" @click.native="scroll(3)">Sites Rápidos</router-link></li>
					<li><router-link to="/home" @click.native="scroll(4)">Contato</router-link></li>
				</v-touch>
			</ul>
			<!-- <a class="talk-to-us lg-hide" v-show="menuIsActive" @click.prevent="openContactModal">Fale conosco</a> -->
			<a class="talk-to-us lg-hide" v-show="menuIsActive" href="javascript:jivo_api.open();">Fale conosco</a>

			<a href="" class="hamburger" @click.prevent="toggleMenu()">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</v-touch>
</template>

<script>
import { bus } from '../main';

export default {
	name: 'HeaderNav',
	props: {
		vClass : {
			type: String,
			default: ''
		},
		contactModal: {
			default: ''
		}
	},
	data () {
		return {
			title: 'Esse é um componente padrão',
			menuIsActive: false,
			menuMobileIsActive: false,
			thisPage: this.$route.name
		}
	},
	created () {
		window.addEventListener('scroll', this.handleScroll);
		if (this.$route.name != 'home') {
			this.menuIsActive = true;
		}
	},
	methods: {
		scroll (i) {
			if (this.$route.name == 'home') {
				setTimeout(() => {
					
					var headerHeight = document.getElementById('header').offsetHeight;
					this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 0);
					console.log('scroll on');
					this.menuMobileIsActive = false;
				}, 100);
			}
		},
		internaScroll(i){
			console.log(i);
		},
		handleScroll () {
			var sections = document.getElementsByTagName('section');
			var headerHeight = document.getElementById('header').offsetHeight;
		
			for (var index = 0; index < sections.length; index++) {
				var sectionElement = sections[index],
					menuItemElement = document.getElementById('header').getElementsByTagName('li')[index].getElementsByTagName('a')[0],
					menuLiElement = document.getElementById('header').getElementsByTagName('li'),
					n = menuLiElement.length,
					windowTop = window.scrollY,
					windowSize = windowTop + window.innerHeight,
					pageSize = document.documentElement.scrollHeight

				if (windowSize >= pageSize) {
					document.getElementById('header').getElementsByTagName('li')[n - 2].getElementsByTagName('a')[0].className = '';
					document.getElementById('header').getElementsByTagName('li')[n - 1].getElementsByTagName('a')[0].className = 'is-active';

				} else if (windowTop >= sectionElement.offsetTop - 100 && windowTop < sectionElement.offsetTop + sectionElement.offsetHeight - 100) {
					menuItemElement.className = 'is-active';
				} else {
					menuItemElement.className = '';
				}

				if (windowTop >= sectionElement.offsetTop - window.innerHeight/2) {
					if (sectionElement.className.indexOf('is-active') < 0) {
						sectionElement.className += ' is-active';
					}
				}

				if (this.$route.name == 'home') {
					var firstSection = document.getElementsByClassName('section')[0].offsetHeight;
					if (windowTop + headerHeight > 0 && windowTop + headerHeight < firstSection) {
						this.menuIsActive = false;
					} else {
						this.menuIsActive = true;
					}
				};
			};

			
		},
		toggleMenu () {
			this.menuMobileIsActive = !this.menuMobileIsActive;
		},
		openContactModal(){
			bus.$emit('contactModalStateChange', true);
		}
	}
}
</script>

<style lang="stylus">
	@import '~stylus_var'

	#header
		position absolute
		height 100px
		width 100%
		top 0
		left 0
		z-index 10
		background transparent
		transition .4s top ease
		&.active, &.is-active
			background white
			box-shadow 0 2px 20px rgba(40, 55, 77, .3)
			position fixed
			top 25px
			margin-top -25px
			ul
				float none
				li
					&:first-child
						display inline
				a
					padding-bottom 36px
					&.is-active, &:hover
						border-bottom 4px solid $mainColor
		&.is-active
			ul
				li
					&:first-child
						display block
				a
					padding-bottom 20px
					padding 30px 0
		&.interna
			background white
			box-shadow 0 2px 20px rgba(40, 55, 77, .3)
			position fixed
			ul
				float none
				li
					&:first-child
						display inline
				a
					padding-bottom 36px
					&.is-active
						border-bottom 0
						color #28374d !important
					&:hover
						color $mainColor !important
						border-bottom 4px solid $mainColor
		.talk-to-us
			float right
			background black
			position relative
			top 10px
			color white
			border-radius 40px
			padding 12px 50px
			margin-right 30px
			transition 150ms all ease
			cursor pointer
			&:hover
				background $mainColor
				color white
		.hamburger
			position absolute
			right 30px
			top 50%
			transform translateY(-50%)
			display none
			z-index 2
			span
				width 30px
				height 4px
				background $mainColor
				display block
				margin 2px 0
		.logo
			width 50px
			height 51px
			position relative
			top 50%
			transform translateY(-50%) scale(.9)
			float left
			margin-left 30px
			transition 250ms all ease
			background url('../assets/logo-minimal.png') no-repeat center
			background-size cover
			display block
			&:hover
				transform translateY(-50%) scale(1)
		ul
			float right
			margin 0
			position relative
			top 50%
			transform translateY(-50%)
			margin-right 50px
			a
				transition all 150ms ease
				border-bottom 2px solid transparent
				padding 5px 10px
				padding-bottom 4px
				color #28374D
				text-decoration none
				&:hover, &.is-active
					color $mainColor !important
					border-bottom 2px solid
		li
			margin 0 10px
			&:first-child
				display none


	@media (max-width 1085px)
		#header
			ul
				opacity 0
				visibility hidden
				background white
				width 100%
				margin 0
				position absolute
				top 0
				transform none
				border-top 1px solid #E9E9E9
				transition 250ms all ease
				&.is-active
					opacity 1
					visibility visible
					top 100%
				li
					display block
					a
						display block
						text-transform uppercase
						font-weight bold
						border-bottom 1px solid #E9E9E9
						padding 20px
			.hamburger
				display block
</style>
