<template>
	<div class="friday-app">
		<section-header></section-header>
		<section-welcome></section-welcome>
		<section-portfolio></section-portfolio>
		<section-about-simple-text></section-about-simple-text>
		<section-what-we-do></section-what-we-do>
		<section-clients></section-clients>
		<section-fast-site></section-fast-site>
		<section-contact></section-contact>
		<section-footer></section-footer>
		<section-copyright></section-copyright>
	</div>
</template>


<script>
import SectionHeader from '../components/HeaderNav.vue'
import SectionWelcome from '../components/SectionWelcome.vue'
import SectionPortfolio from '../components/SectionPortfolio.vue'
import SectionAboutSimpleText from '../components/SectionAboutSimpleText.vue'
import SectionWhatWeDo from '../components/SectionWhatWeDo.vue'
import SectionClients from '../components/SectionClients.vue'
import SectionFastSite from '../components/SectionFastSite.vue'
import SectionContact from '../components/SectionContact.vue'
import SectionFooter from '../components/SectionFooter.vue'
import SectionCopyright from '../components/SectionCopyright.vue'

export default {
	name: 'HomePage',
	components: {
		SectionHeader,
		SectionWelcome,
		SectionPortfolio,
		SectionAboutSimpleText,
		SectionWhatWeDo,
		SectionClients,
		SectionFastSite,
		SectionContact,
		SectionFooter,
		SectionCopyright
	},
	mounted(){
		function internaScroll (i) {
			console.log('home montada');
			console.log(i);
			var headerHeight = document.getElementById('header').offsetHeight;
			this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 300);
			console.log('scroll on');
			this.menuMobileIsActive = false;
		}
	},
	data () {
		return {
			msg: 'Essa é a página inicial',
			isMobile: ''
		}
	}
}
</script>

<style lang="stylus">
	section
		padding 50px 0
</style>
