<template>
	<div class="login-modal">
		<div class="login-modal-content">
			<div class="loggedOut">
				<h1>Digite seu login</h1>
				<form>
					<input type="text" placeholder="e-mail" id="form-login-email" @keypress.enter="toggleSignIn()">
					<input type="password" placeholder="senha" id="form-login-password" @keypress.enter="toggleSignIn()">
					<a href="" class="button" @click.prevent="toggleSignIn()">Entrar</a>
				</form>
				<a href="" :to="'/'" class="go-back"><i class="fa fa-angle-left" aria-hidden="true"></i>  Voltar</a>
				<div class="loader"></div>
			</div>
		</div>
	</div>
</template>

<script>

import firebase from 'firebase'

export default {
	name: 'LoginModal',
	data () {
		return {
			msg: 'Esse é um componente de modal de Login'
		}
	},
	mounted() {
		document.getElementById("form-login-email").focus();
	},
	methods: {
		toggleSignIn() {

			var $this = this;
			var loggedIn = $this.$parent.loggedIn;

			var email = document.getElementById('form-login-email').value;
			var password = document.getElementById('form-login-password').value;
			if (email.length < 4) {
				alert('Por favor, digite um endereço de e-mail.');
				return;
			}
			if (password.length < 4) {
				alert('Por favor, digite uma senha.');
				return;
			}
			// Sign in with email and pass.
			// [START authwithemail]
			firebase.auth().signInWithEmailAndPassword(email, password)
			.then(function(result){
				loggedIn = true;
			})
			.catch(function(error) {
				// Handle Errors here.
				var errorCode = error.code;
				var errorMessage = error.message;
				// [START_EXCLUDE]
				if (errorCode === 'auth/wrong-password') {
					alert('Wrong password.');
				} else {
					alert(errorMessage);
				}
				console.log(error);
			});
		}
	}
}
</script>

<style lang="stylus">
	.login-modal
		width 100%
		height 100vh
		background url('../assets/welcome-bg.jpg') no-repeat center
		background-size cover
		position fixed
		top 0
		left 0
		.loader
			position relative
			top 30px
		.go-back
			display block
			margin-top 25px
			border 0
			color #333
	.login-modal-content
		position absolute
		background white
		box-shadow 0 2px 20px rgba(40, 55, 77, .3)
		width 80%
		max-width 400px
		margin 0 auto
		display block
		padding 100px 50px
		left 50%
		top 200px
		border-radius 10px
		transform translateX(-50%)
		h1
			margin-bottom 30px
		input
			width 100%
			display block
			padding 15px 10px
			box-sizing border-box
			border 2px solid black
			outline none
			&:first-child
				margin-bottom 10px
		a
			color black
			z-index -2
			border 2px solid black
			margin-top 40px
			&.button
				&:hover
					background black
					color white
</style>
