<template>
	<div class="friday-app">
		<section-header vClass="interna"></section-header>
		<section-hero-lil></section-hero-lil>
		<section-about-simple-text></section-about-simple-text>
		<section-perks :pageNameProp="pageName"></section-perks>
		<section-portfolio></section-portfolio>
		<section-footer></section-footer>
		<section-copyright></section-copyright>
	</div>
</template>


<script>

import SectionHeader from '../components/HeaderNav.vue'
import SectionPortfolio from '../components/SectionPortfolio.vue'
import SectionAboutSimpleText from '../components/SectionAboutSimpleText.vue'
import SectionPerks from '../components/SectionPerks.vue'
import SectionFooter from '../components/SectionFooter.vue'
import SectionCopyright from '../components/SectionCopyright.vue'
import SectionHeroLil from '../components/SectionHeroLil.vue'


export default {
	name: 'HomePage',
	components: {
		SectionHeader,
		SectionPortfolio,
		SectionAboutSimpleText,
		SectionPerks,
		SectionFooter,
		SectionHeroLil,
		SectionCopyright
	},
	data () {
		return {
			msg: 'Essa é a página interna',
		}
	},
	computed: {
		pageName(){
			return this.$route.name;
		}
	}
}
</script>

<style lang="stylus">
	section
		padding 50px 0
</style>
