<template>
	<section class="perks">
		<div class="row top-xs">
			<div class="col-xs-12 col-sm-6 col-md-4 item" v-for="perk in activePage.perks">
				<div class="row">
					<div class="col-md-2">
						<i class="fa fa-eercast" aria-hidden="true"></i>
					</div>
					<div class="col-md-10">
						<h3>{{perk.title}}</h3>
						<p>{{perk.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'DefaultComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão',
		}
	},
	computed: {
		activePage() {
			if (this.$route.name == 'ui-ux-design') {
				return this.$store.state.paginaInternaObj.uiUxDesign;
			} else if (this.$route.name == 'sobre'){
				return this.$store.state.paginaInternaObj.sobre;
			} else if (this.$route.name == 'desenvolvimento'){
				return this.$store.state.paginaInternaObj.desenvolvimento;
			} else if (this.$route.name == 'social-media'){
				return this.$store.state.paginaInternaObj.socialMedia;
			} else if (this.$route.name == 'design'){
				return this.$store.state.paginaInternaObj.design;
			}
		},
		paginaInternaObj(){
			return this.$store.state.paginaInternaObj;
		},
	}
}
</script>

<style lang="stylus">
	.perks
		padding 50px
		.item
			text-align left
			margin-bottom 50px
		h3
			font-size 21px
			font-family 'Proxima Nova Extra Bold'
			margin 0 0 25px
			&:after
				content ''
				display block
				width 45px
				height 2px
				position relative
				top 10px
				background black
		p
			color #717171
		i
			font-size 50px
			text-align center
			display block
</style>
