<template>
	<div id="about">
		<div class="wrapper">
			<h1>{{activePage.subTitle}}</h1>
			<span class="separator"></span>
			<p>{{activePage.infoText}}</p>
			<router-link v-if="this.$route.name == 'home'" to="/sobre" class="button" @click.native="scroll()" replace>Nos conheça</router-link>
		</div>
	</div>
</template>

<script>


export default {
	name: 'SectionAboutSimpleText',
	data () {
		return {
			msg: 'Somos um parceiro confiável, inventivo e experiente para a sua empresa obter resultados.',
			text: 'Trabalhamos ha 3 anos com criatividade, paixão pelo que somos e pelo que fazemos, buscando proporcionar as melhores experiências na apresentação das marcas de nossos clientes. ',
			thisPage: this.$route.name
		}
	},
	methods: {
		scroll () {
			window.scroll(0,0);
		},
	},
	computed: {
		activePage() {
			if (this.$route.name == 'ui-ux-design') {
				return this.$store.state.paginaInternaObj.uiUxDesign;
			} else if (this.$route.name == 'sobre' || this.$route.name == 'home'){
				return this.$store.state.paginaInternaObj.sobre;
			} else if (this.$route.name == 'desenvolvimento'){
				return this.$store.state.paginaInternaObj.desenvolvimento;
			} else if (this.$route.name == 'social-media'){
				return this.$store.state.paginaInternaObj.socialMedia;
			} else if (this.$route.name == 'design'){
				return this.$store.state.paginaInternaObj.design;
			}
		},
		paginaInternaObj(){
			return this.$store.state.paginaInternaObj;
		},
	}
}
</script>

<style lang="stylus">
	@import '~stylus_var'

	#about
		padding 100px 0
		h1
			max-width 670px
			margin 0 auto
		p
			font-size 16px
			line-height 1.5
			max-width 720px
			margin 0 auto
		.separator
			background $mainColor
		.button
			border-color $mainColor
			color $mainColor
			&:hover
				background-color $mainColor
				color white
</style>
