<template>
	<section id="what-we-do" v-bind:style="{ 'background-image': 'url(' + sectionBrackgrond +')'}">
		<div class="row">
			<div class="col-lg-4 col-xs-12 item" v-for="(item, index) in items" @mouseover="bgChange(index)">
				<div class="content vertical-align">
					<div class="row center-xs middle-xs">
						<div class="col-xs-12 col-sm-4 col-lg-12 icon-container">
							<span class="icon"><i class="fa" :class="item.class" aria-hidden="true"></i></span>
						</div>
						<div class="col-xs-12 col-sm-4 col-lg-12 project-infos">
							<div class="hover">
								<h2 class="project-title">{{item.title}}</h2>
								<h2 class="project-title">{{item.color}}</h2>
								<p class="project-resume">{{item.resume}}</p>
								<router-link  :to="{path: item.link}" class="button project-link" @click.native="scroll()" replace>Saiba mais</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'DefaultComponent',
	data () {
		return {
			msg: 'Essa é uma seção de portfólio',
			sectionBrackgrond: '../src/assets/what-we-do/dev.jpg',
			items: [
				{ title: 'Desenvolvimento Web',
				resume: 'Sites atrativos e com tecnologia de ponta, que trazem sua empresa para o universo digital.',
				class: 'fa-code',
				link: 'desenvolvimento',
				background: '../src/assets/what-we-do/dev.jpg' },
				// { title: 'UI/UX Design',
				// resume: 'Resumo do projeto, algo simples, um textinho só definindo do que se trata, poucas linhas.',
				// class: 'fa-diamond',
				// link: 'ui-ux-design',
				// background: 'https://image.shutterstock.com/z/stock-photo-design-studio-creativity-ideas-wood-palette-decoration-concept-365367170.jpg' },
				{ title: 'Social Media',
				resume: 'Gerenciamos suas mídias sociais, desde a criação da campanha estratégica a arte final dos posts.',
				class: 'fa-facebook',
				link: 'social-media',
				background: '../src/assets/what-we-do/social-media.jpg' },
				{ title: 'Design',
				resume: 'Identidade visual, criação de artes para campanhas, folhetos, eventos, entre outros...',
				class: 'fa-paint-brush',
				link: 'design',
				background: '../src/assets/what-we-do/visual.jpg' },
			]
		}
	},
	methods:{
		bgChange: function (index){
			var thisBg = this.$data.items[index].background;

			this.$data.sectionBrackgrond = thisBg;
		},
		scroll () {
			window.scroll(0,0);
		}
	}
}
</script>

<style lang="stylus">
	@import '~stylus_var'

	#what-we-do
		color white
		padding 0
		// transition 250ms all ease
		background center center
		background-size cover
		.hover-mobile
			width 100%
			position relative
			opacity 0
			visibility hidden
			display none
			height 100%
			z-index 2
			background black
		.project-resume
			max-width 250px
			margin 0 auto 30px
			display block
		h2
			text-transform uppercase
			font-family 'Proxima Nova Extra Bold'
			font-size 24px
			margin 30px 0
		.item
			overflow hidden
			height calc(100vh - 100px)
			border-right 1px solid #e4e4e4
			background rgba(16, 138, 214, 0.40)
			&:last-child
				border 0
			.icon
				display block
				margin 0 auto
				transition 450ms all ease
				color white
				font-size 50px			
			.hover
				opacity 0
				visibility hidden
				max-height 200px
				transition 350ms all ease
			&:hover
				background rgba(16, 138, 214, 0.85)
				.hover
					opacity 1
					visibility visible
					max-height 200px
				.icon
					animation-name iconAnimation
					animation-duration .5s
			a
				$color = white
				$hoverColor = black
				border 1px solid $color
				color $color
				&:hover
					color $hoverColor
					background white
@keyframes iconAnimation {
 	from {
	 	transform: scale(.8);
	 	opacity: 1;
	}
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

@media only screen and (max-width : 1200px)
	#what-we-do
		.item
			height auto
			min-height 300px
			padding 50px 0
			border none
			border-bottom 1px solid white
			&:last-child
				border-bottom 0
			.hover
				height auto
				opacity 1
				visibility visible
			.project-infos
				opacity 1
				visibility visible
				display block
@media only screen and (max-width : 768px)
	#what-we-do
		.item
			height 370px
			padding 0
			.project-infos
				display block
				opacity 1
				visibility visible
			.hover
				opacity 1
				visibility visible
				.project-title
					margin 20px 0
					
@media only screen and (max-width : 480px)
	#what-we-do
		.item
			.hover-mobile
				.project-resume
					display none
				.project-title
					margin 0
</style>
