<template>
	<div id="add-book">
		<div class="wrapper">
			<ul>
                <li v-for="book in books">
                    <p>{{book.title}}</p>
                    <p>{{book.author}}</p>
                    <p>{{book.date}}</p><button class="remove-book" @click.prevent="removeBook(book)">x</button>
                </li>
            </ul>
            <form id="form" class="" @submit.prevent="addBook">
                <input type="text" placeholder="title" id="bookTitle" v-model="newBook.title">
                <input type="text" placeholder="author" id="bookAuthor" v-model="newBook.author">
                <input type="text" placeholder="date" id="bookDate" v-model="newBook.date">
                <input type="submit" value="Add Book">
            </form>
		</div>
	</div>
</template>

<script>


export default {
	name: 'SectionAddBook',
	data () {
		return {
			dbBooks: this.$parent.$parent.$firebaseRefs.books,
			books: this.$parent.$parent.books,
			newBook: {
				title: '',
				author: '',
				date: ''
			}
		}
	},
	methods: {
		log(){
			console.log(this.$parent.$parent.$firebaseRefs.books)
		},
		addBook(){
			this.dbBooks.push(this.newBook);
		},
		removeBook(book){
			this.dbBooks.child(book['.key']).remove();
		}
	}
}
</script>

<style lang="stylus">
	$red = #F5515F

	#about
		padding 100px 0
		h1
			max-width 670px
			margin 0 auto
		p
			font-size 16px
			line-height 1.5
			max-width 720px
			margin 0 auto
		.separator
			background $red
</style>
