<template>
	<section class="contact">
		<div class="row middle-xs">
			<div class="col-md-5 col-xs-12 say-hello-container">
				<div class="center-box">
					<!-- <a href="" class="button" @click.prevent="openContactModal">Fale conosco</a> -->
					<!-- <a href="" class="button" @click.prevent="openJivoChat">Fale conosco</a> -->
					<a  href="javascript:jivo_api.open();" class="button">Fale conosco</a>
					<span class="separator"></span>
					<p>Nos deixe uma mensagem e responderemos o mais breve possível.</p>
				</div>
			</div>
			<div class="col-md-7 col-xs-12 talk-to-us">
				<h1>Fale conosco</h1>
				<span class="separator"></span>
				<p class="talk-to-us-txt">Vamos juntos fazer com que suas ideias ganhem vida. Nós garantimos que você ficará contente com o resultado final. Tem alguma pergunta, feedback ou comentário? Não deixe de compartilhar conosco!</p>
				<div class="row info-container center-xs">
					<a href="tel:51980309355" class="col-sm-4 col-xs-12 info">
						<div class="content">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div class="right">
								<p>(51) 9 8030-9355</p>
								<span>Seg-Sex: 10h - 18h</span>
							</div>
						</div>
					</a>
					<a href="mailto:nos@somosfriday.com.br" class="col-sm-4 col-xs-12 info">
						<div class="content">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<div class="right">
								<p>nos@somosfriday.com.br</p>
								<span>Responderemos em até 24h</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

import { bus } from '../main';

export default {
	name: 'ContactComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de contato',
		}
	},
	computed: {
		jivoChatWindows: function () {
			return document.getElementById('jivo-iframe-container');
		}
	},
	methods:{
		openContactModal(){
			bus.$emit('contactModalStateChange', true);
		},
		openJivoChat(){
			var $this = window;
			console.log($this);
		}
	}
}
</script>

<style lang="stylus">
	@import '~stylus_var'
	.contact
		padding 0
		box-shadow 0 2px 15px rgba(40, 55, 77, .1)
		.button
			$color = black
			$hoverColor = $red
			border 2px solid $color
			color $color
			&:hover
				color $hoverColor
				background $color
		a
			cursor pointer
		h1
			margin 0
		.say-hello-container
			background #FAFAFA
			height 400px
			color black
			position relative
			padding 50px 0
			transition .3s all ease
			&:hover
				background linear-gradient(to bottom right, #1089d6, #00a6ce)
				color white
				.button
					color white
					border-color white
					&:hover
						background white
						color $mainColor
				.separator
					background white
		.separator
			background black
			transition .3s all ease
		.talk-to-us
			padding 50px 0
			.separator
				margin 5px auto 20px
				background $mainColor
			.talk-to-us-txt
				max-width 605px
				margin 0 auto 30px
			.info
				text-align left
				.content
					margin 0 auto
					max-width 240px
				p
					font-family 'Proxima Nova Extra Bold'
					color $almostBlack
				span
					font-size 12px
				i
					font-size 30px
					margin-right 20px
					color $mainColor
				.right
					display inline-block
@media only screen and (max-width : 1024px)
	.contact
		box-shadow 0 2px 20px rgba(40,55,77,0.1)
@media only screen and (max-width : 767px)
	.contact
		.talk-to-us
			.info
				text-align center
				display block
				&:first-child
					margin-bottom 20px
</style>
