<template>
	<footer class="footer">
		<div class="wrapper">
			<div class="row middle-xs center-xs">
				<div class="col-sm-4 col-xs-12 left">
					<ul>
						<li><router-link to="/home" @click.native="scroll(0)" class="is-active">Início</router-link></li>
						<li><router-link to="/home" @click.native="scroll(1)">Portfólio</router-link></li>
						<li><router-link to="/home" @click.native="scroll(2)">O que Fazemos</router-link></li>
						<li><router-link to="/home" @click.native="scroll(3)">Sites Rápidos</router-link></li>
					</ul>
				</div>
				<div class="col-sm-2 col-xs-12 mid">
					<li><router-link to="/interna" class="logo"><img src="../assets/logo-letter.png"></router-link></li>
				</div>
				<div class="col-sm-4 col-xs-12 right">
					<ul>
						<!-- <li><router-link to="/ui-ux-design" class="" @click.native="scrollTop()">UI/UX Design</router-link></li> -->
						<li><router-link to="/desenvolvimento" @click.native="scrollTop()">Desenvolvimento Web</router-link></li>
						<li><router-link to="/social-media" @click.native="scrollTop()">Social Media</router-link></li>
						<li><router-link to="/design" @click.native="scrollTop()">Design</router-link></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de Footer'
		}
	},
	methods: {
		scroll (i) {
			setTimeout(() => {
				var headerHeight = document.getElementById('header').offsetHeight;
				this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 500);
				this.menuIsActive = false;
				this.menuMobileIsActive = false;
			}, 100);
		},
		scrollTop () {
			window.scroll(0,0);
		}
	}
}
</script>

<style lang="stylus">
	$mainColor = #108AD6

	.footer
		background url('../assets/footer-bg.png') center no-repeat
		padding 65px 0
		a
			transition 150ms all ease
			cursor pointer
			&:hover
				color $mainColor
		.logo
			max-width 100px
			display block
			margin 0 auto
			img
				max-width 50px
		.left
			text-align right
		.right
			text-align left
		ul
			li
				display block
				margin-bottom 15px
				&:last-child()
					margin-bottom 0
@media only screen and (max-width : 767px)
	.footer
		.left, .right
			text-align center
</style>
