<template>
	<section class="fast-site">
		<div class="row bottom-sm center-sm">
			<div class="col-lg-4 col-xs-12 left side">
				<div class="vertical-align">
					<h1>Precisando de um site<br /> novo pra ontem?</h1>
					<p>Surgiu uma oportunidade e você quer mostrar o melhor do seu negócio, mas não estava preparado?<br />Temos modelos personalizáveis que ficam prontos em até 5 dias.</p>
					<a href="" class="button disabled" @click.prevent>Em breve</a>
				</div>
			</div>
			<div class="col-lg-6 col-ls-offset-1 col-xs-12 right side sm-none templates-container">
				<div class="image">
					<a href="" @click.prevent><img src="../assets/fast-sites/outrosite.png"></a>
					<a href="" @click.prevent><img src="../assets/fast-sites/luan.png"></a>
					<a href="" @click.prevent><img src="../assets/fast-sites/viacorpo.png"></a>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'FastSiteComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão Sites Rápidos'
		}
	}
}
</script>

<style lang="stylus">
@import '~stylus_var'

	.fast-site
		background url('../assets/fast-site-bg.jpg') no-repeat center
		background-size cover
		padding 0
		.left
			position relative
			height 700px
			.vertical-align
				float right
		.templates-container
			.image
				position relative
				width 600px
				overflow hidden
				margin 0 auto
				height 405px
			a
				display inline-block
				position absolute
				transition 150ms all ease
				cursor not-allowed
				&:nth-child(1)
					left 0
					top 100px
				&:nth-child(2)
					left 50%
					transform translateX(-50%)
					z-index 2
				&:nth-child(3)
					right 0
					top 60px
					&:hover
						animation fastSiteRight 2s ease-in-out infinite;
				&:hover
					top 0
					z-index 3
					animation fastSite 2s ease-in-out infinite;
				@keyframes fastSite {
					0 {
						margin-left 0
						top 0
					}
					25% {
						top 10px
					}
					50% {
						margin-left 20px
						top 0
					}
					75%{
						top 10px
					}
					100% {
						margin-left 0
					}
				}
				@keyframes fastSiteRight {
					0 {
						margin-right 0
						top 0
					}
					25% {
						top 10px
					}
					50% {
						margin-right 20px
						top 0
					}
					75%{
						top 10px
					}
					100% {
						margin-right 0
					}
				}
		.button
			border-color $mainColor
			color $mainColor
			margin 0
			float right
			margin-top 30px
			&:hover
				background $mainColor
				color white
		h1
			text-align right
		p
			max-width 515px
			margin 0
			text-align right
@media only screen and (max-width : 1200px)
	.fast-site
		.left
			.vertical-align
				float none
				h1
					text-align center
				p
					margin 0 auto
					text-align center
				a
					margin 30px auto 0
					float none
</style>
