<template>
	<section class="portfolio-section">
		<div class="modal" v-for="(item, index) in portfolioItems" v-if="index == portfolioIndex" v-show="modalIsActive">
			<div class="row bottom-xs center-xs">
				<div class="col-xs-11 col-md-8 project-container">
					<div class="border" :style="{borderColor: item.color}"></div>
					<a href="" class="close-modal button" @click.prevent="closeProjectModal()">X</a>
					<div class="project-title">
						<div class="row between-xs middle-xs">
							<div class="col-md-6">
								<h1>{{item.name}}</h1>
								<h5 class="procjet-subtitle">{{item.subTitle}}</h5>
							</div>
							<div class="col-md-3">
								<a :href="item.link"target="_blank" class="project-link button" v-if="item.link">Ver Mais</a>
							</div>
						</div>
					</div>
					<div class="project-content">
						<img :src="item.backgroundImg">
					</div>
				</div>
			</div>
		</div>
		<div class="filters"v-if="this.$route.name== 'home' || this.$route.name == 'sobre'" >
			<div class="wrapper">
				<div class="row center-xs">
					<div class="filter-item col-xs-12 col-sm-6 col-md-3"><a href="" @click.prevent="filter('all')" :class="{'is-active': activeCategory == 'all'}">Todos</a></div>
					<div class="filter-item col-xs-12 col-sm-6 col-md-3"><a href="" @click.prevent="filter('desenvolvimento')" :class="{'is-active': activeCategory == 'desenvolvimento'}">Sites</a></div>
					<div class="filter-item col-xs-12 col-sm-6 col-md-3"><a href="" @click.prevent="filter('social-media')" :class="{'is-active': activeCategory == 'social-media'}">Social Media</a></div>
					<div class="filter-item col-xs-12 col-sm-6 col-md-3"><a href="" @click.prevent="filter('design')" :class="{'is-active': activeCategory == 'design'}">Design</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item" v-show="item.category.indexOf(activeCategory) >= 0 || activeCategory == 'all'" :class="item.category" :style="{ backgroundImage: 'url( '+ item.thumbnail + ')' }" v-for="(item, index) in portfolioItems">
				<a href="" class="hover" :style="{ backgroundColor: item.color}" @click.prevent="openProjectModal(index)">
					<div class="vertical-align">
						<img :src="item.icon">
					</div>
				</a>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'PortfolioSection',
	props: ['pageNameProp'],
	data () {
		return {
			msg: 'Essa é a section de Portfólio',
			activeCategory: '' ,
			modalIsActive: false,
			portfolioIndex: ' ',
			projectName: this.$route.params.projectName,
			pageUrlBase : this.$route.path
		}
	},
	watch: {
		activePage() {
			this.activeCategory = this.activePage.pageTitle;
		}
	},
	computed: {
		activePage() {
			if (this.$route.name == 'ui-ux-design') {
				return this.$store.state.paginaInternaObj.uiUxDesign;
			} else if (this.$route.name == 'sobre'){
				return this.$store.state.paginaInternaObj.sobre;
			} else if (this.$route.name == 'desenvolvimento'){
				return this.$store.state.paginaInternaObj.desenvolvimento;
			} else if (this.$route.name == 'social-media'){
				return this.$store.state.paginaInternaObj.socialMedia;
			} else if (this.$route.name == 'design'){
				return this.$store.state.paginaInternaObj.design;
			}
		},
		portfolioItems(){
			return this.$store.state.portfolioItems;
		},
		pageName(){
			return this.$route.name;
		},
		changeCategory(){
			this.activeCategory = this.$route.name; ;
			if (this.pageName == 'sobre' || this.pageName == 'home') {
				this.activeCategory = 'all' ;
			} 

			return this.activeCategory;
		},
		newUrl(){
			var url = window.location.href;

			var projectUrlName = this.$route.params.projectName;

			var newUrl = url.replace(projectUrlName, '');
			// url.split(projectUrlName).join('somex');
			return newUrl;
		}
	},
	created(){
		this.activeCategory = this.$route.name; 
		if (this.pageName == 'sobre' || this.pageName == 'home') {
			this.activeCategory = 'all' ;
		} 
	},
	methods: {
		filter(category){
			this.activeCategory = category;
			console.log(this.activeCategory);
		},
		openProjectModal(index){
			this.modalIsActive = true;
			this.portfolioIndex = index;
			console.log(this.activeCategory);
		},
		closeProjectModal( ){
			this.modalIsActive = false;
			console.log(this.newUrl);
		}
	}
}
</script>

<style lang="stylus">
	@import '~stylus_var'

	::-webkit-scrollbar {
		width: 0px;
		background-color: rgba(0,0,0, .0)
	}
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: $mainColor;
		border-radius 2px
	}
	.portfolio-section
		padding 0
		.modal
			.project-container
				margin 100px 0
				position relative
				max-width 1400px
				img
					max-width 100%
			.close-modal
				top -45px
				right -20px
			.project-title
				padding 30px
				background white
				text-align left
				position relative
				h1
					margin-bottom 5px
					margin-top 0
					text-transform uppercase
				h5
					margin 0
					font-size 14px
					color #858585
				.button
					color black
					margin 0 auto
					border-color black
					text-align center
					float right
					&:hover
						color white
						background black
		.filters
			background white
			box-sizing border-box
			position relative
			z-index 2
			padding 20px 0
			box-shadow 0 2px 20px rgba(40, 55, 77, .3)
			ul
				position relative
			.filter-item
				padding-top 20px
				padding-bottom 20px
			a
				transition all 150ms ease
				border-bottom 2px solid transparent
				padding 10px 30px
				border-radius 30px
				cursor pointer
				color #28374D
				text-decoration none
				&:hover, &.is-active
					color white;
					background $mainColor
		.portfolio-item
			height 33vw
			background center no-repeat
			background-size cover
			box-sizing border-box
			position relative
			border 2px solid white
			.hover
				background rgba(0,0,0, .5)
				position absolute
				width 95%
				height 95%
				top 50%
				transition 250ms all ease
				left 50%
				transform translate(-50%, -50%) scale(.9)
				opacity 0
				visibility hidden
				&:hover
					cursor pointer
			&:hover
				.hover
					opacity 1
					visibility visible
					transform translate(-50%, -50%) scale(1)
@media (max-width 580px)
	.portfolio-section 
		.portfolio-item
			height 50vw
		.modal 
			.project-title 
				.button
					margin-top 20px

</style>
