<template>
	<div class="clients">
		<carousel :perPageCustom="[[768, 4], [1024, 6]]">
			<slide v-for="client in clients" :key="client.id">
				<div class="item-container" :class="client.vClass"><img :src="client.logo" alt=""></div>
			</slide>
		</carousel>
	</div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
	name: 'ClientsComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de clientes',
			clients: [
				{name: 'Homni', vClass: 'homni', logo: '../src/assets/clients/homni-grey.png'},
				{name: 'Alquimia da Cerveja', vClass: 'alquimia-da-cerveja', logo: '../src/assets/clients/alquimia-da-cerveja-grey.png'},
				{name: 'Smart', vClass: 'smart', logo: '../src/assets/clients/smart-grey.png'},
				{name: 'Senai', vClass: 'senai', logo: '../src/assets/clients/senai-grey.png'},
				{name: 'Nuvem', vClass: 'nuvem', logo: '../src/assets/clients/nuvem-grey.png'},
				{name: 'Deluxe', vClass: 'deluxe', logo: '../src/assets/clients/deluxe-grey.png'},
			]
		}
	},
	components: {
		Carousel,
		Slide
	}
}
</script>

<style lang="stylus">
	.clients
		padding 60px 0
		box-shadow 0 2px 20px rgba(40,55,77,0.1)
		.item-container
			position relative
			height 100px
			&.homni, &.viacorpo
				img
					max-width 70px
		img
			max-width 100px
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
	.row
		width 100%
</style>
