<template>
	<v-touch @swipeleft="swipeLeft" @swiperight="swipeRight" @swipeup.prevent="scroll(1)" @doubletap="swipeReset" @fivetap="firebaseLogout">
		<section id="welcome" class="welcome section" @dragend="setOverlaySize">
			<a href="" class="draggable mobile-no" draggable="true" @drag="drag" v-on:click.prevent v-bind:style="{ left: overlaySize }">
				<div class="draggable-content">
					<i aria-hidden="true" class="fa fa-arrows-h drag-icon"></i>
				</div>
			</a>
			<div class="content-container">
				<div class="row middle-sm center-xs content">
					<div class="col-xs-12 col-sm-3 col-md-4 sm-hide">
						<h3>{{ leftText }}</h3>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-4">
						<div class="logo"><img src="../assets/logo-letter.png"></div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-4 sm-hide">
						<h3>{{ rightText }}</h3>
					</div>
					<a href="" class="cta" @click.prevent="scroll(1)">
						<span class="icon">
							<span></span>
						</span>

						<span>{{ scrollButtonText }}</span>
					</a>
				</div>
			</div>
			<div class="overlay-container" v-bind:style="{ width: overlaySize }">
				<div class="row middle-sm center-xs content overlay">
					<div class="col-xs-12 col-sm-3 col-md-4 sm-hide">
						<h3>{{ leftText }}</h3>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-4">
						<div class="logo"><img src="../assets/logo-code.png"></div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-4 sm-hide">
						<h3>{{ rightText }}</h3>
					</div>
					<a href="" class="cta overlay-cta" @click.prevent="scroll(1)">
						<span class="icon">
							<span></span>
						</span>

						<span>{{ scrollButtonText }}</span>
					</a>
				</div>
			</div>
		</section>
	</v-touch>
</template>

<script>

export default {
	name: 'SectionWelcome',
	data () {
		return {
			variables: function(){
				var windowSize = window.offsetHeight;
			},
			title: 'Welcome Section',
			leftText: 'Nosso objetivo é manter o equilíbrio entre Design e Tecnologia.',
			rightText: 'Somos o parceiro digital ideal para o seu negócio',
			scrollButtonText: 'Conheça',
			overlaySize: '',
			dragItemPosition: '',
			isDragging: true,
		}
	},
	methods: {
		scroll (i) {
			var headerHeight = document.getElementById('header').offsetHeight;
			this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 500);
			this.menuIsActive = false;
		},
		setOverlaySize: function () {
			var dragPositionX =  event.pageX;
			console.log(dragPositionX);

			this.$data.overlaySize = dragPositionX + 'px';
			return
		},
		swipeLeft: function(){
			this.$data.overlaySize = 0 + '%';
		},
		swipeRight: function(){
			this.$data.overlaySize = 100 + '%';
		},
		swipeReset: function(){
			this.$data.overlaySize = 50 + '%';
		},
		drag: function(event, ui) {
			var dragPositionX =  event.pageX;
			var dragOffsetX =  event.path[0].offsetLeft;
			var overlayWidth = document.getElementsByClassName('overlay-container');
			var dragItem = document.getElementsByClassName('draggable');

			var width = dragPositionX;         
			this.$data.overlaySize = width;

			for (var i = 0; i < overlayWidth.length; i++) {
				overlayWidth[i].style.width = width + 'px';
			}
			for (var i = 0; i < dragItem.length; i++) {
				dragItem[i].style.left = this.$data.overlaySize + 'px';
			}
		},
		firebaseLogout(){
			this.$parent.logout();
		}
	}
}

</script>

<style lang="stylus">
@import '~stylus_var'

#welcome
	position relative
	background url('../assets/welcome-bg.jpg') no-repeat center
	background-size cover
	height 100vh
	padding 0
	overflow hidden
	.draggable-content
		width 100%
		height 100%
		padding 9px 0
	.draggable
		display block
		width 30px
		height 30px
		background $mainColor
		border-radius 50%
		border 2px solid white
		position absolute
		cursor ew-resize
		top 50%
		left 50%
		transform translate(-50%, -50%)
		z-index 3
		padding 2px
		transition 200ms all ease
		.drag-icon
			color white
			font-size 22px
			position relative
			top -4px
		span
			width 20px
			height 2px
			display block
			background white
			margin 0 auto 3px
			&:last-child()
				margin-bottom 0
	.overlay-container
		overflow hidden
		width 50%
		position absolute
		top 0
		transition 200ms all ease
		left 0
		&.swipe-left
			width 0
		&.swipe-right
			width 100%
	.content-container
		width 100vw
	.overlay
		width 100vw
		height 100vh
		z-index 2
		background linear-gradient(to bottom right, rgba(16, 138, 214, .93), rgba(16, 138, 214, .3))
		h3
			color white
	.logo
		img
			max-width 240px
	h3
		max-width 300px
		display block
		margin 0 auto
		font-weight 500
	.content
		height 100vh
		position relative
	.center
		width 100%
		text-align center
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		h1
			color #222
			font-weight bold
			font-size 24px
		p
			color #222
			font-size 16px
			max-width 650px
			margin 0 auto
	.cta
		display block
		bottom 40px
		left 50%
		transform translateX(-50%)
		position absolute
		z-index 2
		text-align center
		text-transform uppercase
		border-radius 5px
		color #222
		font-size 14px
		letter-spacing 1px
		font-weight bold
		text-decoration none
		@keyframes mouse
			0%, to
				transform:translate(-50%,0);
				transform:translate(-50%,0);
			50%
				transform:translate(-50%,4px);
				transform:translate(-50%,4px);
		.icon
			width 30px
			height 46px
			border 3px solid #222
			border-radius 15px
			box-sizing border-box
			z-index 3
			display block
			margin auto
			position relative
			margin-bottom 5px
			span
				animation mouse 1000ms infinite
				display block
				position absolute
				left 50%
				width 6px
				height 8px
				border-radius 2px
				background #222
				top 8px
				transform translateX(-50%)
		&.overlay-cta
			color white
			z-index 4
			.icon
				border-color white
				span
					background white
@media only screen and (max-width : 992px)
	#welcome
		.logo
			img
				max-width 100%
@media only screen and (max-width : 768px)
	#welcome
		.logo
			img
				max-width 140px
		.draggable
			display none
@media only screen and (max-width : 320px)
	#welcome
		.logo
			img
				max-width 120px
		.cta
			margin-left 0
</style>
