<template>
	<div class="copyright">
		<p>2017 - <span class="color"><friday-logo></friday-logo></span> @ Todos os direitos reservados.</p>
	</div>
</template>

<script>

import fridayLogo from '../components/FridaySvg.vue'

export default {
	name: 'CopyrightComponent',
	components: {fridayLogo},
	data () {
		return {
			msg: '2018 - Friday CC. @ Todos os direitos reservados.'
		}
	}
}
</script>

<style lang="stylus">
@import '~stylus_var'

$mainColor = #108AD6


	.copyright
		padding 30px 0
		background #FAFAFA
		&:hover
			.link-site
				.st0
					fill $mainColor
		p
			font-size 14px
			transition 250ms all ease
			font-family 'Proxima Nova Semi Bold'
</style>
