<template>
	<section class="hero lil" v-bind:style="{ 'background-image': 'url(' + activePage.background +')'}">
		<h1>{{activePage.title}}</h1>
		<div class="filter"></div>
	</section>
</template>

<script>
export default {
	name: 'DefaultComponent',
	data () {
		return {
			msg: 'Quem somos nós',
			sectionBrackgrond: '../src/assets/what-we-do/dev.jpg'
		}
	},
	computed: {
		activePage() {
			if (this.$route.name == 'ui-ux-design') {
				return this.$store.state.paginaInternaObj.uiUxDesign;
			} else if (this.$route.name == 'sobre'){
				return this.$store.state.paginaInternaObj.sobre;
			} else if (this.$route.name == 'desenvolvimento'){
				return this.$store.state.paginaInternaObj.desenvolvimento;
			} else if (this.$route.name == 'social-media'){
				return this.$store.state.paginaInternaObj.socialMedia;
			} else if (this.$route.name == 'design'){
				return this.$store.state.paginaInternaObj.design;
			}
		},
		paginaInternaObj(){
			return this.$store.state.paginaInternaObj;
		},
	}
}
</script>

<style lang="stylus" scoped>
	@import '~stylus_var'
	.hero
		&.lil
			background black center
			background-size cover
			height 400px
			position relative
			.filter
				width 100%
				height 100%
				background $mainColor
				opacity .6
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				z-index 2
			h1
				color white
				width 100%
				text-align center
				position absolute
				top 50%
				z-index 3
				transform translateY(-50%)
				text-transform uppercase
				font-size 64px

</style>
