<template>
	<div id="app" :class="{'mobile-browser' : isMobile}">
		<router-view></router-view>
		<contact-modal></contact-modal>
	</div>
</template>

<script>
import contactModal from './components/ContactModal.vue'

export default {
	name: 'app',
	components: {
		contactModal
	},
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
			text: 'oi, testando',
			isMobile: ''
		}
	},
	created () {
		window.addEventListener('load', this.checkIfIsMobile);
	},
	methods: {
		checkIfIsMobile: function(){
			if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				this.$data.isMobile = true;

			}
		}
	}
}
</script>

<style lang="stylus">
@import '~stylus_var'


.fade-enter-active, .fade-leave-active 
	transition-property opacity
	transition-duration .4s


.fade-enter-active
	transition-delay .4s


.fade-enter, .fade-leave-active
	opacity 0

.slide-fade-enter-active {
  transition: all .7s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.loader 
		border 4px solid #ddd
		border-top 4px solid $red
		border-radius 50%
		width 30px
		height 30px
		margin 0 auto
		animation spin 2s linear infinite
		opacity 0
		visibility hidden
		transition .2s all ease
		&.active
				opacity 1
				visibility visible
.img-box
	position relative
	width 200px
	height 200px
	overflow hidden
	margin 0 auto
	img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		max-width 130%
.modal
	width 100%
	height 100vh
	background rgba(0,0,0, .96)
	position fixed
	top 0
	left 0
	z-index 10
	overflow-y scroll
	&::-webkit-scrollbar {
		width: 0px;
	}
	.border
		width 98%
		height 95%
		position fixed
		z-index 3
		border 6px solid $mainColor
		left 50%
		top 50%
		background transparent
		pointer-events none
		transform translate(-50%, -50%)
	.close-modal
		padding 15px 0
		width 50px
		position absolute
		z-index 2
		background white
		color black
		border-color black
		top 0
		right 0
		&:hover
			background $blue
			color white
			border-color $blue

@keyframes spin 
		0%
			transform rotate(0deg)
		100%
			transform rotate(360deg)


body, .row
	margin 0
.title
	font-weight 800
	font-size 36px
	text-transform uppercase
	margin-bottom 40px
#app 
	font-family 'Proxima Nova', Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-align center
	color #2c3e50
	&.mobile-browser
		.mobile-no
			display none !important

h1, h2 
	font-weight normal


h1
	font-size 32px
	font-weight 800
	font-family 'Proxima Nova Black'
	color $almostBlack
h3
	font-size 24px
	color $almostBlack
	line-height 1.5
p
	margin 0
ul 
	list-style-type none
	padding 0


li 
	display inline-block
	margin 0 10px

.separator
	background white
	width 60px
	height 3px
	display block
	margin 20px auto

.el-button
	color white
	border 2px solid white
	padding 15px 25px
	border-radius 30px
	margin 20px auto 0
	display block
	width 180px
	cursor pointer
	text-decoration none
	transition 350ms all ease
a 
	color $darkGrey
	text-decoration none
	&.button
		color white
		border 2px solid white
		padding 15px 25px
		border-radius 30px
		margin 20px auto 0
		display block
		width 180px
		cursor pointer
		text-decoration none
		transition 350ms all ease
		&:hover
			background white
			color $mainColor
		&.disabled
			color #666
			background #ccc
			border-color #ccc
			cursor not-allowed
			&:hover
				background #ccc
				border-color #ccc
				color #666

.wrapper
	width 960px
	margin 0 auto
	position relative

.vertical-align
	position relative
	top 50%
	transform translateY(-50%)
.center-box
	position absolute
	left 50%
	top 50%
	transform translateY(-50%) translateX(-50%)

// RESPONSIVE

		/* Large Devices, Wide Screens */
		@media only screen and (max-width : 1084px)
			body
				margin 0
			.lg-hide
				opacity 0
				visibility hidden



		/* Medium Devices, Desktops */
		@media only screen and (max-width : 992px)
			body
				margin 0
			.wrapper
				width 90%
			.md-hide
				opacity 0
				visibility hidden



		/* Small Devices, Tablets */
		@media only screen and (max-width : 767px)
			body
				margin 0
			#header .nav ul.nav li
				margin 0
			.sm-hide
				opacity 0
				visibility hidden
			.sm-none
				display none



		/* Medium Small Devices, Phones */ 
		@media only screen and (max-width : 480px)
			body
				margin 0



		/* Extra Small Devices, Phones */ 
		@media only screen and (max-width : 480px)
			body
				margin 0



		/* Minimum Devices, iPhones */ 
		@media only screen and (max-width : 320px)
			body
				margin 0
				

</style>
